ion-content
{
  --background: #222222;
  --padding-start: 30px;
  --padding-end: 30px;
}
.logo
{
  width: 50%;
  margin-left: 25%;
  margin-top: 50px;
}
h1
{
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}
ion-item
{
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --border-color: transparent;
  --border-radius: 10px;
  --border-width: 0px;
  --background: transparent;
  ion-input
  {
    --background: #292929;
    height: 55px;
    --placeholder-color: #ffffff;
    --color: #ffffff;
    border-radius: 10px;
    border: 0px;
    --padding-start: 15px;
    --padding-end: 15px;
  }
}
.item-bottom
{
  margin-bottom: 20px;
}
.item-relative
{
  position: relative;
  .icon-ojo
  {
    position: absolute;
    right: 15px;
    color: #888888;
    z-index: 9999;
  }
  .input-padding-right
  {
    --padding-end: 45px !important;
  }
}
.btn-ingresar
{
  --border-radius: 20px;
  text-transform: none;
  width: 60%;
  margin-left: 20%;
  height: 43px;
  font-size: 16px;
  margin-top: 35px;
  position: relative;
  .spinner-blanco
  {
    position: absolute;
    right: 0;
  }
}
.p-olvidaste
{
  color: #ffffff;
  margin-top: 50px;
}
@media screen and (min-width: 411px)
{
  .logo
  {
    margin-top: 80px;
  }
}
@media screen and (min-width: 540px)
{
  ion-content
  {
    --padding-start: 80px;
    --padding-end: 80px;
  }
}
@media screen and (min-width: 640px)
{
  .p-olvidaste
  {
    margin-bottom: 50px;
  }
  .btn-ingresar
  {
    width: 45%;
    margin-left: 27.5%;
  }
}
@media screen and (min-width: 768px)
{
  ion-content
  {
    --padding-start: 170px;
    --padding-end: 170px;
  }
  ion-item
  {
    ion-input
    {
      height: 60px;
    }
  }
  .btn-ingresar
  {
    width: 50%;
    margin-left: 25%;
    height: 50px;
  }
  .logo
  {
    margin-top: 170px;
  }
}
@media screen and (min-width: 1024px)
{
  ion-content
  {
    --padding-start: 260px;
    --padding-end: 260px;
  }
  ion-item
  {
    ion-input
    {
      height: 65px;
      --padding-start: 20px;
    }
  }
  .logo
  {
    margin-top: 300px;
  }
}
