<!--W<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <img src="assets/img/logo.jpg" class="logo">
  <ion-card class="card-nombre">
    <h1 class="ion-text-center">Bienvenido,</h1>
    <h2 class="ion-text-center color-blanco">Carlos Romaña</h2>
  </ion-card>
  <div class="div-card-datos">
    <ion-card class="card-datos">
      <div class="div-linea"></div>
      <ion-card-header>
        <ion-card-title>
          Inversión
          <ion-icon name="chevron-down-outline" class="icon-bottom"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="colo-plomo-datos p-datos-size">BALANCE</p>
        <div class="div-precio-general">
          <div class="div-precio">
            <p class="colo-plomo-datos p-datos-size top-p-precio"><sup>USD</sup> 6.758</p>
          </div>
          <div class="div-precio ion-text-center">
            <p class="colo-plomo-datos p-datos-size top-p-precio"><sup>USD</sup> 6.758</p>
          </div>
          <div class="div-precio ion-text-end">
            <p class="colo-plomo-datos p-datos-size top-p-precio"><sup>USD</sup> 6.758</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="card-datos">
      <div class="div-linea"></div>
      <ion-card-header>
        <ion-card-title>
          Inversión
          <ion-icon name="chevron-down-outline" class="icon-bottom"></ion-icon>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p class="colo-plomo-datos p-datos-size">BALANCE</p>
        <div class="div-precio-general">
          <div class="div-precio">
            <p class="colo-plomo-datos p-datos-size top-p-precio"><sup>USD</sup> 6.758</p>
          </div>
          <div class="div-precio ion-text-center">
            <p class="colo-plomo-datos p-datos-size top-p-precio"><sup>USD</sup> 6.758</p>
          </div>
          <div class="div-precio ion-text-end">
            <p class="colo-plomo-datos p-datos-size top-p-precio"><sup>USD</sup> 6.758</p>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
<ion-footer mode="ios">
  <div class="div-footer">
    <ion-icon name="analytics-sharp" class="icon-footer icon-azul-footer"></ion-icon>
    <p class="p-footer p-azul-footer">Cuentas</p> 
  </div>
  <div class="div-footer">
    <ion-icon name="notifications-outline" class="icon-footer"></ion-icon>
    <p class="p-footer">Noticias</p>
  </div>
  <div class="div-footer">
    <ion-icon name="person-outline" class="icon-footer"></ion-icon>
    <p class="p-footer">Perfil</p>
  </div>
  <div class="div-footer">
    <ion-icon name="mail-outline" class="icon-footer"></ion-icon>
    <p class="p-footer">Contacto</p>
  </div>
</ion-footer>
